<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Word Count: {{ len }} words in your text</h1>
<a href="{% url 'home' %}">restart count</a>
<h2>your words:</h2>
{{ words }}

<form action="{% url 'countword' %}">
    <textarea cols="100" rows="10"  name="fulltext"></textarea>
    <p></p>
    <input type="submit" value="count!"/>
</form>

<hr/>
{% for word,count in worddict %}
    {{ word }} - {{ count }}
    <br />
{% endfor %}

</body>
</html>

